
 <div class="cards-containerj login-form">
    <div class="cardj">
      <h2>Login</h2>
      <form class="login-form">
        <label for="email-login">Email:</label>
        <input type="text" id="email-login">
        <br>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login">
        <br>
        <button class="login" type="submit">Login</button>
      </form>
    </div>
  
    <div class="cards-containerj">
      <div class="signup">
        <a href="/signup"><h2> Or Create Account</h2></a>
      </div>
    </div>
  </div>

  <script src="./js/login.js"></script>