 <link rel="stylesheet" href="/css/profile.css">
  <div class="container">
      <h1>Create Account</h1>
      <form class="signup-form">

          <label for="create-username">Username</label>
          <input type="text" id="create-username" >

          <label for="create-email">Email</label>
          <input type="text" id="create-email" >

          <label for="create-password">Password</label>
          <input type="password" id="create-password" placeholder="********">
       
        
        <button type="submit">Create</button>
      </form >
    </div>
    </div>

    <script src="./js/signup.js"></script>